body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1.title {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

label {
    font-size: 1rem;
    color: #ddd;
}

input[type="number"], input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
}

input[type="number"] {
    background-color: #555;
    color: #fff;
    width: 150px;
}

input[type="submit"] {
    background-color: #444;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #666;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #555;
}

thead th {
    padding: 10px;
    text-align: left;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #444;
}

tbody tr:nth-child(odd) {
    background-color: #333;
}

td {
    padding: 10px;
    color: #ddd;
}

.navbar {
    background-color: #222;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .nav-links li {
    margin-right: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
    color: #ddd;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .title {
        font-size: 1.5rem;
    }

    table th, table td {
        font-size: 0.9rem;
        padding: 8px;
    }


}